<section id="skills">
  <div class="container">
    <h1>Technical skills</h1>
    <div class="row item">
      <div class="col-lg-3 col-md-6 col-xs-6 ch-grid">
        <div class="ch-item ch-img-1" onclick="">
          <div class="ch-info">
            <h3>CSS3</h3>
            <p>Care about good practice and clean code.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-6 ch-grid">
        <div class="ch-item ch-img-2" onclick="">
          <div class="ch-info">
            <h3>HTML5</h3>
            <p>Care about semantic code and good practice.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-6 ch-grid">
        <div class="ch-item ch-img-3" onclick="">
          <div class="ch-info">
            <h3>JavaScript</h3>
            <p>Before getting to know the frameworks I got familiar with pure javascript. It is necessary to me to know the basics.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-6 ch-grid">
        <div class="ch-item ch-img-4" onclick="">
          <div class="ch-info">
            <h3>Angular</h3>
            <p>In previous work I worked with AngularJS and created various functionalities. Now I'm learning Angular 2/4.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row item">
      <div class="col-lg-3 col-md-6 col-xs-6 ch-grid">
        <div class="ch-item ch-img-5" onclick="">
          <div class="ch-info">
            <h3>TypeScript</h3>
            <p>For creating good code in Angular 2/4, I started learning TypeScript and trying to make friends with it.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-6 ch-grid">
        <div class="ch-item ch-img-6" onclick="">
          <div class="ch-info">
            <h3>Python</h3>
            <p>My previous project used python so I had to know what was going on in the project, and thanks to that I got to know the basics.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-6 ch-grid">
        <div class="ch-item ch-img-7" onclick="">
          <div class="ch-info">
            <h3>Django</h3>
            <p>The previous project's backend was built on Django. I had to know the principles of building templates, sometimes I made them myself or modified them.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-6 ch-grid">
        <div class="ch-item ch-img-8" onclick="">
          <div class="ch-info">
            <h3>jQuery</h3>
            <p>Sometimes projects need to implement functionality in jQuery so I know how to use it.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row item">
      <div class="col-lg-3 col-md-6 col-xs-6 ch-grid">
        <div class="ch-item ch-img-9" onclick="">
          <div class="ch-info">
            <h3>Foundation</h3>
            <p>Good knowledge of foundation 6 I used in previous work.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-6 ch-grid">
        <div class="ch-item ch-img-10" onclick="">
          <div class="ch-info">
            <h3>Bootstrap</h3>
            <p>I know and I can use it at practice and quickly find the necessary things in the documentation.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-6 ch-grid">
        <div class="ch-item ch-img-11" onclick="">
          <div class="ch-info">
            <h3>GIT</h3>
            <p>In previous work I worked in a team, knowledge of git was of course essential to me.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-6 ch-grid">
        <div class="ch-item ch-img-12" onclick="">
          <div class="ch-info">
            <h3>Sass</h3>
            <p>I recently discovered how much easier it is to work with css. Still learning.</p>
          </div>
        </div>
      </div>
      </div>
      <div class="row item">
      <h1>Other skills</h1>
      <div class="col-lg-3 col-md-6 col-xs-6 ch-grid">
        <div class="ch-item ch-img-13" onclick="">
          <div class="ch-info">
            <h3>Fast Search</h3>
            <p>As a programmer, it's important to be able to find information. I know well how to do it and I have patience for it.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-6 ch-grid">
        <div class="ch-item ch-img-14" onclick="">
          <div class="ch-info">
            <h3>Learn</h3>
            <p>Programming is a continuous learning. I know it and I still have passion to develop and learn new things.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-6 ch-grid">
        <div class="ch-item ch-img-15" onclick="">
          <div class="ch-info">
            <h3>Punctuality</h3>
            <p>I respect my time and the time of my employers/clients, so I care about timeliness and punctuality. I appreciate when both sides care about tasks deadline.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-6 ch-grid">
        <div class="ch-item ch-img-16" onclick="">
          <div class="ch-info">
            <h3>Communication</h3>
            <p>Programming is a work with the computer but also personal skills are important. I can work well in a team and with a client. Two sides must be satisfied.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>