<section id="portfolio">
  <div class="container">
	  <div class="row" [ngsRevealSet]="{ mobile:false }" [ngsSelector]="'.item-portfolio'" [ngsInterval]="250">	
	    <h1>My last work</h1>
	    <div class="col-md-4 col-xs-12 item-portfolio">
				<div class="grid">
					<figure class="effect-sarah" onclick="">
					  <div class="header-project">
					  </div>
						<img src="assets/psk-portfolio2.jpeg" alt="PSK Komfort">
						<figcaption>
							<h6>Psk <span>Komfort</span></h6>
							<p>This is the website of the engineering office that I made from start to finish alone.</p>
							<p>So I was responsible for information architecture, layout, graphics, coding.</p>
							<p>It uses HTML, CSS and a few fragments are made in AngularJS.</p>
							<a href="http://psk-komfort.pl" target="_blank">View more</a>
						</figcaption>		
					</figure>
				</div>
			</div>
	    <div class="col-md-4 col-xs-12 item-portfolio">
				<div class="grid">
					<figure class="effect-sarah" onclick="">
					  <div class="header-project">
					  </div>
						<img src="assets/vr-portfolio.jpg" alt="Virtuder">
						<figcaption>
							<h6><span>virtuder</span></h6>
							<p>This is an extended project where I was responsible for arranging the layout, UX, coding newsletter, implementing features such as filtering, retrieving information from API in angular js. etc</p>
							<p>The project is still under work, however, I'm not engaged with it anymore.</p>
							<a href="http://virtuder.com" target="_blank">View more</a>
						</figcaption>		
					</figure>
				</div>
	    </div>
	    <div class="col-md-4 col-xs-12 item-portfolio">
				<div class="grid">
					<figure class="effect-sarah" onclick="">
					  <div class="header-project">
					  </div>
						<img src="assets/zwierzopieka-portfolio.jpg" alt="Zwierzopieka">
						<figcaption>
							<h6><span>Zwierzopieka</span></h6>
							<p>This is the website with ads, I built it from scratch.</p>
							<p>I was responsible for information architecture, layout design, UX.</p>
							<p>It's still in progress.</p>
							<a href="http://zwierzopieka.pl" target="_blank">View more</a>
						</figcaption>		
					</figure>
				</div>
			</div>
		</div>
	</div>
</section>